{% import "macros.twig" as m %}

<div class="col-md-6 mb-4">
    <div class="card h-100 shadow-sm position-relative">

        <div class="position-absolute" style="right: 4px; top: 4px">
            <form action="/videocards_object/delete" method="POST">
                <input type="hidden" name="id" value="{{ item.id }}">
                <button type="submit" class="btn btn-danger">
                    <i class="fas fa-times"></i>
                </button>
            </form>
        </div>

        <img src="{{ item.image }}" class="card-img-top" alt="{{ item.title }}">
        
        <div class="card-body text-center">
            <h5 class="card-title">{{ item.title }}</h5>
        <div class="row justify-content-center">  
                <div class="col-10 col-sm-6 col-md-8 col-lg-6">
        
                    <div class="d-flex flex-column mb-1">
                        {{ m.btn(item.title, "/videocards_object/" ~ item.id, true) }}
                    </div>
                    
                    <div class="d-flex justify-content-evenly">
                            {{ m.btn("Картинка", "/videocards_object/" ~ item.id ~ "?show=image") }}
                            {{ m.btn("Описание", "/videocards_object/" ~ item.id ~ "?show=info") }}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>    