{% extends "__layout.twig" %}

{% block content %}
<h3 class="mb-3">Поиск</h3>

    <form action="">

        <div class="row g-3 align-items-end">   
            <div class="col-md-auto">
               <label class="form-label">Тип</label>
                    <select name="type_id" class="form-select"> 
                        <option value="all">Все</option>
                        {# надо фильтрацию делать по id типа #}
                        {% for type in types %}
                            <option value="{{ type.id }}" {% if type.id == type_id  %}selected{% endif %}>
                                {{ type.title }}
                            </option>
                        {% endfor %}
                    </select> 
            </div>

            <div class="col-md">
                <label class="form-label">Описание</label>
                <input type="text" name="info" class="form-control" placeholder="Описание" value="{{ info }}">
            </div>

            <div class="col-md">
                <label class="form-label">Название</label>
                <input type="text" name="title" class="form-control" placeholder="Название" value="{{ title }}">
            </div>

            <div class="col-sm-12 col-lg-2 col-md-2">
                <button type="submit" class="btn btn-primary w-100">Найти</button>
            </div>

        </div>
    </form>

    <hr>

    <div class="list-group">
    {% for obj in objects %}
        <a href="/videocards_object/{{ obj.id }}" class="list-group-item list-group-item-action">
            {{ obj.title }}
        </a>
    {% else %}
        <div class="text-muted">Ничего не найдено</div>
    {% endfor %}
    </div>
{% endblock %}